# BEGIN W3TC CDN
<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css)$">
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>
# END W3TC CDN
# BEGIN W3TC Page Cache core
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTP_COOKIE} w3tc_preview [NC]
    RewriteRule .* - [E=W3TC_PREVIEW:_preview]
    RewriteCond %{REQUEST_METHOD} !=POST
    RewriteCond %{QUERY_STRING} =""
    RewriteCond %{REQUEST_URI} \/$
    RewriteCond %{HTTP_COOKIE} !(comment_author|wp\-postpass|w3tc_logged_out|wordpress_logged_in|wptouch_switch_toggle) [NC]
    RewriteCond "%{DOCUMENT_ROOT}/wp-content/cache/page_enhanced/%{HTTP_HOST}/%{REQUEST_URI}/_index%{ENV:W3TC_PREVIEW}.html" -f
    RewriteRule .* "/wp-content/cache/page_enhanced/%{HTTP_HOST}/%{REQUEST_URI}/_index%{ENV:W3TC_PREVIEW}.html" [L]
</IfModule>
# END W3TC Page Cache core
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#Begin Redirects
RewriteRule ^services/web.html$ /portfolio/ [L,NC,R=301]
RewriteRule ^area122/calendar/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/teen-night/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/retreats/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^contact-me.html$ /contact/ [L,NC,R=301]
RewriteRule ^services/it.html$ /portfolio/ [L,NC,R=301]
RewriteRule ^post/11295101395/adayinthelandofnobody-brandversations-by-stefan$ / [L,NC,R=301]
RewriteRule ^post/11294591538/grooveshark-sneak-peek-at-the-new-grooveshark$ / [L,NC,R=301]
RewriteRule ^login.html$ /login/ [L,NC,R=301]
RewriteRule ^area122/2013/hello-world/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/retreats/camp-arcadia/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/thank-you/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^contact.html$ /contact/ [L,NC,R=301]
RewriteRule ^services/print.html$ /portfolio/ [L,NC,R=301]
RewriteRule ^portfolio/it.html$ /portfolio/ [L,NC,R=301]
RewriteRule ^client-login.html$ /login/ [L,NC,R=301]
RewriteRule ^work/web.html$ /portfolio/ [L,NC,R=301]
RewriteRule ^area122/events/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^openlib-ils/feed/$ / [L,NC,R=301]
RewriteRule ^area122/ministries/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^blog/2011/06/25/mycaterer-released/feed/atom/$ /th-portfolio/caspers-catering-wordpress-theme/ [L,NC,R=301]
RewriteRule ^area122/retreats/mexicali/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/transactions/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/registration-cancelled/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/retreats/springhill/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^blog/2011/04/22/phpmydisabler-update/feed/atom/$ / [L,NC,R=301]
RewriteRule ^area122/blog/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^housewifefieldguide.com/cgi-bin/$ / [L,NC,R=301]
RewriteRule ^services?id=12$ /portfolio/ [L,NC,R=301]
RewriteRule ^services?id=1$ /portfolio/ [L,NC,R=301]
RewriteRule ^services?id=10$ /portfolio/ [L,NC,R=301]
RewriteRule ^services?id=11$ /portfolio/ [L,NC,R=301]
RewriteRule ^congress/$ / [L,NC,R=301]
RewriteRule ^services?id=4$ /portfolio/ [L,NC,R=301]
RewriteRule ^area122/retreats/ensenada/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^category/phpmydisabler/feed/$ / [L,NC,R=301]
RewriteRule ^services?id=6$ /portfolio/ [L,NC,R=301]
RewriteRule ^area122/downloads/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/contact/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^area122/category/uncategorized/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^work/print.html$ /portfolio/ [L,NC,R=301]
RewriteRule ^products-page/php-applications/$ /portfolio/ [L,NC,R=301]
RewriteRule ^area122/author/tristan/$ /th-portfolio/area122/ [L,NC,R=301]
RewriteRule ^services/contact-me.html$ /contact/ [L,NC,R=301]
RewriteRule ^services?id=3$ /portfolio/ [L,NC,R=301]
RewriteRule ^2011/06/mycaterer-released/feed/$ / [L,NC,R=301]
RewriteRule ^housewifefieldguide.com/.ftpquota$ / [L,NC,R=301]
#End Redirects
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress