@charset "UTF-8";

@import "bourbon", "settings", "normalize", "foundation", "https://fonts.googleapis.com/css?family=News+Cycle:400,700|Raleway:400,700.css";

//Left/Right Classes
.alignleft {
   float: left;
   text-align: left;
}
.alignright {
   float: right;
   text-align: right;
}
.aligncenter {
   margin: 0 auto;
   display: block;
   clear: both;
   text-align: center;
}

//Styles for Buttons
.button {
   @include transition(all 250ms linear);
   font-family: $raleway;
   color: $white;
   background: $green;
   text-transform: uppercase;
   font-weight: 700;
   border-radius: 3px;
   border: 0px;
   &:hover, &:active {
      background: #fff;
      color: $green;
   }
   &:focus {
      outline: 0px;
   }
   &.secondary {
      background: $orange;
      color: #fff;
      &:hover, &:active {
         background: #fff;
         color: $orange;
      }
   }
}

//General Page Structure
html,
body {
   font-size: 16px;
   height: 100%;
   width: 100%;
}
header, #wrapper, footer {
   @include grid-row();
}

#wrapper {
   padding-top: 120px;
   body.home & {
      padding-top: 100px;
   }
}

header {
   height: 100px;
}
#contentWrapper {
   @include grid-row();
   body.home & {
      max-width: 100%;
   }
}
body.internal {
   #content {
     @include grid-column(9);
   }
   #sidebar {
      @include grid-column(3);
   }
}
footer {
   height: 135px;
}


h1 {
   font-size: 36px;
   font-family: $raleway;
   text-transform: uppercase;
   font-weight: 700;
   width: 100%;
   float: left;
   line-height: 36px;
}
h2 {
   font-size: 32px;
   font-family: $raleway;
}
h3 {
   font-size: 28px;
   color: $green;
   font-family: $raleway;
}
h4 {
   font-size: 24px;
   font-family: $raleway;
}
h5 {
   font-size: 20px;
   font-family: $raleway;
}
h6 {
   font-size: 16px;
   font-family: $raleway;
}
p {
   font-family: $news-cycle;
   margin-bottom: 1.4em;
   &#breadcrumbs {
      @include grid-column(12);
      font-size: 14px;
      font-family: $raleway;
      text-transform: uppercase;
      margin-bottom: 15px;
      padding-left: 0px;
      a {
         color: $purple;
      }
      span {
         color: $gray;
      }
   }
}

//Header Styles
#headerWrapper {
   width: 100%;
   max-width: 100%;
   height: 100px;
   background: $red;
   display: block;
   z-index: 9;
   position: fixed;
}

//Header Nav Styles
nav#main-nav {
   position: relative;
   height: 100px;
   width: 100%;
   ul {
      list-style-type: none;
      margin-top: 0px;
      margin-left: 0px;
      float: right;
      margin-bottom: 30px;
      //background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      background-size: 100px 100px;
      background-position: center center;
      position: relative;
      li {
         height: 100%;
         display: block;
         float: left;
         width: auto;
         a {
            @include transition(background 200ms linear);
            padding: 0px 20px;
            line-height: 100px;
            font-size: 18px;
            font-family: $raleway;
            color: #fff;
            text-transform: capitalize;
            font-weight: 400;
            display: block;
            letter-spacing: 2px;
            &:hover {
               background: #fff;
               color: $red;
            }
         }
         &:first-child {
            margin-left: 60px;
         }
         &.current-menu-item {
            a {
               color: $red;
               background: #fff;
            }
         }
      }
   }
}

//Footer Styles
#footerWrapper {
   background: $gray;
   color: $light-gray;
   width: 100%;
   font-size: 12px;
   font-family: $raleway;
   text-transform: uppercase;
   footer {
      padding: 30px 0px 10px;
      #copyright {
         @include grid-column(6);
         float: right;
         font-size: 12px;
         font-weight: bold;
         text-align: right;
         letter-spacing: 1px;
         a {
            color: $light-gray;
            @include transition(color 200ms linear);
            &:hover {
               color: #fff;
            }
         }
      }
   }
}

//Footer Nav Styles
nav#footer-nav {
   @include grid-column(6);
   list-style-type:none;
   li {
      display:inline-block;
      background-image: url('../images/footer-nav-bullet.png');
      background-repeat:no-repeat;
      padding-left:20px;
      background-position:center left;
      &:first-child {
         background:transparent;
         padding-left:0px;
      }
      a {
         color:$light-gray;
         @include transition(color 200ms linear);
         &:hover {
            color:#fff;
         }
      }
   }
}

//Home page styles
body.home {
   #wrapper {
      max-width:100%;
   }
   div#content {
      padding:0px !important;
      max-width:100%;
      h1 {
         float: none;
      }
      .panel {
         width:100%;
         min-height: 610px;
         background:transparent;
         display:block;
         border:0px !important;
         background-repeat:no-repeat;
         background-position: center -270px;
         .button {
            font-weight:700 !important;
            letter-spacing:1px;
         }
         &#panel-1 {
            background-image:url('../images/panel-bg-1.jpg');
            .button {
               width:250px;
            }
         }
         &#panel-2, &#panel-4 {
            .panelContent {
               h2, p {
                  color: $purple !important;
               }
            }
         }
         &#panel-2 {
            .button {
               width:300px;
            }
         }
         &#panel-3 {
            background-image:url('../images/panel-bg-3.jpg');
            .button {
               width:350px;
            }
         }
         &#panel-4 {
            div.wpcf7 {
               @include grid-column(6);
               float:none;
               margin:0 auto;
               clear:both;
               margin-top:30px;
               span.wpcf7-not-valid-tip {
                  @include alert(#B30000);
                  background: transparent;
                  border: 0px;
                  color: #9a0000;
                  font-family: $news-cycle;
                  font-size: 13px;
                  text-transform: uppercase;
                  padding: 0px;
                  position: absolute;
                  right: 10px;
                  top: 10px;
               }
               .hideOnSubmit {
                  @include grid-column(12);
                  padding-left:0px;
                  &.half {
                     @include grid-column(6);
                     padding-left:0px;
                  }
                  span.wpcf7-form-control-wrap {
                     width: 100%;
                  }
                  label {
                     @include grid-column(12);
                     text-align: left;
                     text-transform: uppercase;
                     color: $purple;
                     padding-left: 0px;
                     span.required {
                        font-size: 80%;
                        vertical-align: top;
                     }
                  }
               }
               label {
                  font-weight:700;
               }
               textarea {
                  min-height: 100px;
                  @include box-shadow(0px, 0px, 0px, #fff);
                  border-radius:3px;
                  -moz-border-radius:3px;
                  -webkit-border-radius:3px;
                  border:1px solid $purple;
                  &:focus {
                     border:1px solid $tundora;
                  }
               }
               input[type="text"], input[type="email"] {
                  @include box-shadow(0px, 0px, 0px, #fff);
                  border-radius:3px;
                  -moz-border-radius:3px;
                  -webkit-border-radius:3px;
                  border:1px solid $purple;
                  &:focus {
                     border:1px solid $tundora;
                  }
               }
               div.wpcf7-response-output {
                  @include grid-column(12);
                  float:left;
                  @include alert(#B30000);
                  font-family:$news-cycle;
                  font-size:12px;
                  text-transform:uppercase;
                  &.wpcf7-display-none {
                     display:none;
                  }
                  &.wpcf7-mail-sent-ok {
                     @include alert(#009900);
                     background-color: #009900 !important;
                     border-color: #009900 !important;
                  }
               }
            }
         }
         .panelContent {
            @include grid-column(12);
            float:none;
            max-width:1000px;
            margin:0 auto;
            text-align:center;
            margin-top:60px;
            margin-bottom:30px;
            h1, h2, p {
               color:#fff;
               text-transform:uppercase;
            }
            h1, h2 {
               font-weight:700;
            }
            p {
               @include grid-column(6);
               float: none;
               margin: 0 auto;
               margin-bottom: 15px;
               clear: both;
            }
            p:last-child {
               margin-top:20px;
            }
         }
      }
   }
}

//Internal Page Styles
body.page {
   #content {
      padding: 10px 15px;
      padding-bottom:30px;
      h1 {
         width: 100%;
         float: left;
         font-family: $raleway;
         text-transform: uppercase;
         font-weight: bold;
         color: $purple;
      }
   }
}

//Portfolio Page Styles
body.post-type-archive-th-portfolio {
   ul#portfolioFilter {
      @include grid-column(12);
      list-style-type:none;
      text-align:left;
      width:100%;
      margin:10px 0px 20px;
      height:40px;
      li {
         border-radius:3px;
         -moz-border-radius:3px;
         -webkit-border-radius:3px;
         display:block;
         float:left;
         margin-right:10px;
         background: $red;
         color:#fff;
         font-family:$raleway;
         font-weight:700;
         text-transform:uppercase;
         padding:5px 10px;
         @include transition(background 450ms linear);
         &:hover, &.active {
            cursor:pointer;
            color: $red;
            background:$white;
         }
      }
   }
   div.portfolio-entries {
      @include grid-column(12);
      padding-left:0px;
      padding-right:0px;
      margin-bottom:30px;
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      figure {
         opacity:0;
         filter:alpha(opacity=0);
         @include grid-column(4);
         width:32%;
         display:none;
         height:230px;
         margin-right:10px;
         padding:0px;
         margin-bottom: 10px;
         &:hover {
            figcaption {
               -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
               transform: rotateY(180deg);
            }
         }
         figcaption {
            width:100%;
            height:100%;
            -webkit-transition: 0.6s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 0.6s;
            -moz-transform-style: preserve-3d;
            transition: transform 0.6s;
            transition-style: preserve-3d;
            position: relative;
         }
         a.portfolio-link {
            position: relative;
            z-index:1;
            width:100%;
            height:100%;
            display:block;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            img {
               width: 100%;
               height: 100%;
            }
         }
         div.portfolio-desc {
            display: block;
            background-color:$red;
            color:#fff;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            width:100%;
            height:100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            padding:10px;
            h3 {
               color:#fff;
               font-weight:bold;
               text-transform:uppercase;
               font-size:20px;
               a {
                  color:#fff;
               }
            }
            .excerpt {
               color: #fff;
               font-family: $news-cycle;
            }
            .read-more {
               font-weight: 700 !important;
               margin: 0 auto;
               margin-top: 15px;
               display: block;
            }
         }
      }
   }
}
body.single-th-portfolio {
   #content {
      @include grid-column(9);
      padding-top: 15px;
      ul.clearing-thumbs {
         margin-bottom: 10px;
         li {
            margin-bottom: 5px;
            width: 18%;
            &:first-child {
               width: 50%;
            }
         }
      }
      div.clearing-blackout {
         div.visible-img {
            img {
               width: 800px;
               height: auto;
            }
         }
         .carousel ul.clearing-thumbs {
            li {
               width: 120px !important;
               margin-bottom: auto !important;
            }
         }
      }
   }
}
//Contact Page
body.page-id-9 {
   div.wpcf7 {
      @include grid-column(12);
      padding-left: 0px;
      margin-bottom: 30px;
      span.wpcf7-not-valid-tip {
         @include alert(#B30000);
         font-family: $news-cycle;
         font-size: 13px;
         text-transform: uppercase;
         padding: 0 12px;
         float: left;
         line-height: 35px;
      }
      .hideOnSubmit {
         @include grid-column(12);
         padding-left: 0px;
         &.half {
            @include grid-column(6);
            padding-left: 0px;
         }
         label {
            @include grid-column(12);
            text-align: left;
            text-transform: uppercase;
            color: $purple;
            padding-left: 0px;
            span.required {
               font-size: 80%;
               vertical-align: top;
            }
         }
      }
      label {
         font-weight: 700;
      }
      textarea {
         @include box-shadow(0px, 0px, 0px, #fff);
         min-height: 100px;
         border-radius: 3px;
         -moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         border: 1px solid $purple;
         &:focus {
            border: 1px solid $tundora;
         }
      }
      input[type="text"], input[type="email"] {
         @include box-shadow(0px, 0px, 0px, #fff);
         border-radius: 3px;
         -moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         border: 1px solid $purple;
         float: left;
         width: 50%;
         margin-right: 10px;
         &:focus {
            border: 1px solid $tundora;
         }
      }
      div.wpcf7-response-output {
         @include grid-column(12);
         @include alert(#B30000);
         float: left;
         font-family: $news-cycle;
         font-size: 12px;
         text-transform: uppercase;
         &.wpcf7-display-none {
            display: none;
         }
         &.wpcf7-mail-sent-ok {
            @include alert(#009900);
            background-color: #009900 !important;
            border-color: #009900 !important;
         }
      }
   }
}

//Login Page
body.page-template-login-php {
   article {
      @include grid-column(6);
      padding-left: 0px;
      #alreadyLoggedIn {
         display: none;
      }
   }
   &.logged-in {
      form {
         display:none;
      }
      #alreadyLoggedIn {
         display: block !important;
      }
   }
   #wp-submit {
      @extend .button;
   }
}

//Invoice page
body.page-id-70 {
   .text-input {
      &.small {
         width: 52px !important;
         padding: 9px;
         float: left;
         margin-left: 13px;
         position: relative;
         &:first-child {
            margin-left: 0px;
         }
      }
   }
   #sidebar {
      display: none;
   }
}

//Firefox fix
html.firefox {
   .wpcf7 {
      span.wpcf7-form-control-wrap {
         float: left;
         width: 100%;
      }
   }
}

//Sidebar styles
#sidebar {
   @include grid-column(3);
   > ul {
      list-style-type: none;
      margin-left: 0px;
      li {
         margin-bottom: 20px;
         h3.widget-title {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 21px;
            margin-bottom: 0px;
         }
      }
   }
   blockquote {
      border-left: 0px;
      padding-left: 0px;
      margin-bottom: 15px;
      font-family: $news-cycle;
      font-weight: bold;
      color: $gray;
      cite {
         float: right;
         font-size: 13px;
         display: block;
      }
   }
}

@media only screen and (max-width: 1000px) {
   #headerWrapper {
      background: transparent;
   }
   nav#main-nav {
      ul {
         @include grid-column(9);
         text-align: center;
         background: transparent !important;
         padding: 0px;
         margin-left: 0px;
         &:after {
            display: none;
         }
      }
      li {
         float: none !important;
         display: inline-block !important;
         &:first-child {
            margin-left: 0px !important;
         }
         & + li + li {
            margin-left: 0px !important;
         }
      }
   }
}
@media only screen and (max-width:789px) {
   #headerWrapper {
      display: none;
   }
   nav#mobile-nav {
      display: block;
      position: fixed;
      width: 100%;
      z-index: 999;
      background: $white;
      ul.title-area {
         li.name {
            a {
               height: 40px;
               width: auto;
               left: 5px;
               top: 2.5px;
               position: relative;
               display: block;
               background-image: url('../images/logo.png');
               background-size: 40px 40px;
               background-repeat: no-repeat;
               padding-left: 45px;
               padding-top: 6px;
               font-size: 20px;
               text-transform: uppercase;
               font-family: $raleway;
               font-weight: 700;
               letter-spacing: 1px;
               color: $red;
            }
         }
      }
      .top-bar-section ul li > a {
         font-family: $raleway;
         text-transform: uppercase;
         font-weight: 700;
      }
      .toggle-topbar.menu-icon a {
         color:$red;
         &:after {
            -webkit-box-shadow: 0 10px 0 1px $red, 0 16px 0 1px $red, 0 22px 0 1px $red;
            box-shadow: 0 10px 0 1px $red, 0 16px 0 1px $red, 0 22px 0 1px $red;
         }
      }
      &.expanded {
         ul.title-area {
            li.name {
               a {
                  background-image: url('../images/logo-light.png') !important;
                  color: $white !important;
               }
            }
         }
         .toggle-topbar.menu-icon a {
            &:after {
               -webkit-box-shadow: 0 10px 0 1px $white, 0 16px 0 1px $white, 0 22px 0 1px $white !important;
               box-shadow: 0 10px 0 1px $white, 0 16px 0 1px $white, 0 22px 0 1px $white !important;
            }
         }
      }
   }
   #wrapper {
      padding-top: 45px;
   }
   #footerWrapper {
      footer {
         nav#footer-nav {
            display: none;
         }
         #copyright {
            @include grid-column(12);
         }
      }
   }
   body.home {
      #content {
         .panel {
            .panelContent {
               max-width: 100% !important;
               margin-top: 20px;
               padding: 0px;
               h1, p {
                  @include grid-column(12);
                  width: 100% !important;
               }
               h1, h2 {
                  font-size: 28px;
               }
               p {
                  font-size: 14px;
               }
               .button {
                  width: 90% !important;
               }
            }
            &#panel-4 {
               div.wpcf7 {
                  width:100% !important;
                  .hideOnSubmit.half {
                     width:100% !important;
                     label span.required {
                        display:block;
                     }
                  }
                  .button {
                     width: 100% !important;
                     clear:both;
                     margin-bottom: 10px;
                  }
               }
            }
         }
      }
   }
   body.page-template-archive-th_portfolio-php {
      div.portfolio-entries {
         figure {
            @include grid-column(12);
            display: block;
            min-height: 250px;
            height: auto;
            &:hover {
               figcaption {
                  -webkit-transform: rotateY(0deg) !important;
                  -moz-transform: rotateY(0deg) !important;
                  transform: rotateY(0deg) !important;
               }
            }
            .portfolio-desc {
               position: relative !important;
               -webkit-transform: rotateY(0deg) !important;
               -moz-transform: rotateY(0deg) !important;
               transform: rotateY(0deg) !important;
            }
            a.portfolio-link {
               display: none !important;;
            }
         }
      }
   }
   body.page-id-9 {
      div.wpcf7 {
         width: 100% !important;
      }
   }
   body.single-th-portfolio {
      #content {
         width: 100%;
         ul.clearing-thumbs li {
            width: 45% !important;
         }
      }
      #sidebar {
         width: 100%;
      }
   }
}