@import "bourbon/bourbon", "neat/neat", "base/base", "settings";

html, body {
    height: 100%;
}

body {
    background: #fff;
    margin: 0;
    font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    text-transform: uppercase;
}

#mast {
    @include outer-container();
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0 1em;
    @include media($horizontal-bar-mode) {
        margin-top: 100px;
        margin-bottom: 0;
        padding: 0;
    }
    .slogan {
        text-transform: uppercase;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
        font-family: $header-font-family;
        letter-spacing: 2px;
        max-width: 210px;
        margin: 25px auto 0.75em;
        @include media(407px) {
            max-width: 100%;
        }
    }
}

#logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    background-image: url('../images/img-logo-black.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#primaryNav {
    @include outer-container();
    padding: 10px 15px;
    position: relative;
    width: 100%;
    background-color: transparent;
    @include media($horizontal-bar-mode) {
        height: auto;
    }
    .mobileNavToggle {
        @include span-columns(12);
        @include omega();
        font-family: $header-font-family;
        color: #fff;
        background-color: $color-blue;
        text-align: center;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 20px;
        letter-spacing: 2px;
        @include media($horizontal-bar-mode) {
            display: none;
        }
    }
    .menu {
        @include span-columns(12);
        @include omega();
        margin: 0 auto;
        border: 1px solid $color-blue;
        display: none;
        @include media($horizontal-bar-mode) {
            text-align: center;
            display: block;
            border: 0;
        }
    }
    .menu-item {
        @include span-columns(12);
        @include omega();
        margin-right: 1.4em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $header-font-family;
        letter-spacing: 1px;
        a {
            display: block;
            text-align: center;
            text-transform: uppercase;
            line-height: 40px;
            font-family: $body-font-family;
        }
        @include media($horizontal-bar-mode) {
            margin-left: 1.4em;
            font-size: 20px;
            display: inline-block;
            float: none;
            width: auto;
        }
    }
}

#content {
    padding: 15px 25px;
    text-align: center;
    font-family: $body-font-family;
}

.disciplines {
    #content {
        ul li {
            width: 100%;
            padding: 0 10px;
            background: #fafafa;
            color: $color-blue;
            text-transform: uppercase;
            font-family: $header-font-family;
            line-height: 40px;
            margin-bottom: 5px;
            letter-spacing: 2px;
        }
    }
}

#footer {
    @include outer-container();
    text-align: left;
    font-size: 0.8em;
    color: #ccc;
    font-family: $body-font-family;
    font-weight: normal;
    #breadcrumbs {
        @include span-columns(12);
        @include omega();
        text-align: center;
        a {
            color: #333;
        }
        @include media($horizontal-bar-mode) {
            @include span-columns(6);
            text-align: left;
        }
    }
    #copyright {
        @include span-columns(12);
        @include omega();
        text-align: center;
        @include media($horizontal-bar-mode) {
            @include span-columns(6);
            float: right;
            text-align: right;
        }
    }
}