@import "bourbon", "neat", "https://fonts.googleapis.com/css?family=Advent+Pro:400,700|Oxygen:400,700.css";

$advent : 'Advent Pro', sans-serif;
$oxygen : 'Oxygen', sans-serif;
$blue : #4A789C;
$orange : #F4BA70;
$red : #E96D63;
$green : #7FCA9F;

html,
body {
   background: #fcfefd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: $advent;
   font-weight: 700;
   margin-top: 10px;
   margin-bottom: 5px;
}

#wrapper {
   @include outer-container;
   font-family: $oxygen;
   color: #525252;
   #content {
      @include row();
      h1 {
         @include span-columns(12);
         text-align: center;
         font-size: 36px;
      }
      .step {
         @include span-columns(12);
         background: whitesmoke;
         padding: 15px;
         border-radius: 2px;
         margin-bottom: 20px;
         label, textarea {
            @include span-columns(12);
         }
         textarea {
            min-height: 150px;
            font-family: Courier, sans-serif;
            border-radius: 2px;
            border: 1px solid $blue;
            padding: 10px;
            line-height: 14px;
            font-size: 14px;
            max-width: 100%;
            &:focus {
               outline: 0px;
               box-shadow: 0px 0px 3px $blue;
            }
         }
         &#step1 {
            .sources, .destinations {
               @include span-columns(6);
            }
         }
         &#step2 {
            ul {
               list-style-type: none;
               margin: 0px;
               padding: 0px 5% 0px 0px;
               @include span-columns(6);
               li {
                  background: $green;
                  color: #fff;
                  padding-left: 10px;
                  cursor: pointer;
                  margin-bottom: 5px;
                  border-radius: 2px;
                  @include transition(opacity 100ms linear);
                  &.ui-draggable-dragging {
                     opacity: 0.8;
                  }
               }
            }
         }
         &#step3 {
            .stepheading {
               @include span-columns(12);
               h2 {
                  float: left;
               }
               label[for="use_modrewrite"] {
                  float: right;
                  width: auto;
                  line-height: 50px;
                  input {
                     background-image: url('../images/checkbox.png');
                     background-repeat: no-repeat;
                     background-size: auto 15px;
                     appearance: none;
                     -webkit-appearance: none;
                     height: 15px;
                     width: 15px;
                     position: relative;
                     top: 5px;
                     &:checked {
                        background-position: -15px 0px;
                     }
                     &:focus, &:active {
                        outline: 0px;
                     }
                  }
               }
            }
            button {
               display: none;
               float: right;
               border: 0px;
               background: $red;
               padding: 5px 15px;
               border-radius: 3px;
               color: #fff;
               cursor: pointer;
               font-size: 16px;
               @include transition(background 100ms linear);
               &:hover {
                  background: darken($red, 5%);
                  outline: 0;
               }
               &:active {
                  background: darken($red, 15%);
                  outline: 0;
               }
               &:focus {
                  outline: 0;
               }
            }
            pre {
               color: $blue;
               @include span-columns(10);
               &#redirects {
                  display: none;
               }
            }
         }
      }
      #copyright {
         @include span-columns(12);
         p {
            color: #333;
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            a {
               color: $orange;
               text-decoration: none;
               @include transition(color 150ms linear);
               &:hover {
                  color: darken($orange, 15%);
               }
            }
         }
      }
   }
}